<div style="text-align:center">
  <h1 class="container">
      <p class="bg-danger text-white">Farmacia Phischel</p>
  </h1>
</div>

<div style="text-align: center">
  <h3>--Admin--</h3>
  <nav>
    <a routerLink="/phischel/admin/clientes">Clientes</a>
    <a routerLink="/phischel/admin/doctores">Doctores</a>
    <a routerLink="/phischel/admin/medicinas">Medicinas</a>
    <a routerLink="/phischel/admin/roles">Roles</a>
    <a routerLink="/phischel/admin/sucursales">Sucursales</a>
  </nav>
<router-outlet></router-outlet>