<div style="text-align: center">

  <!-- Editable table -->
<div class="card">
  <style>
    span {
      display: block;
    }
  </style>
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Clientes</h3>
  <div class="card-body">
    <div id="table" class="table-editable">
      <span class="table-add float-right mb-3 mr-2">
        <button type="button" mdbBtn color="danger" rounded="true" size="sm" class="my-0" (click)="add()">Add</button>
      </span>
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <tr>
          <th class="text-center">Cedula</th>
          <th class="text-center">Nombre</th>
          <th class="text-center">Apellidos</th>
          <th class="text-center">Direccion</th>
          <th class="text-center">Fecha</th>
          <th class="text-center">Contacto</th>
          <th class="text-center">Estado</th>
        </tr>
        <tr *ngFor="let client of clients; let id = index">
          <td>
            <span (keyup)="changeValue(id, 'idd', $event)" (blur)="updateList(id, 'idd', $event)" contenteditable="true">
              {{client.idd}}
            </span>
          </td>
          <td>
            <span contenteditable="true" (keyup)="changeValue(id, 'name', $event)" (blur)="updateList(id, 'name', $event)">
              {{client.name}}
            </span>
          </td>
          <td>
            <span contenteditable="true" (keyup)="changeValue(id, 'lastname', $event)" (blur)="updateList(id, 'lastname', $event)">
              {{client.lastname}}
            </span>
          </td>
          <td>
            <span contenteditable="true" (keyup)="changeValue(id, 'address', $event)" (blur)="updateList(id, 'address', $event)">
              {{client.address}}
            </span>
          </td>
          <td>
            <span contenteditable="true" (keyup)="changeValue(id, 'birthday', $event)" (blur)="updateList(id, 'birthday', $event)">
              {{client.birthday}}
            </span>
          </td>
          <td>
            <span contenteditable="true" (keyup)="changeValue(id, 'contact', $event)" (blur)="updateList(id, 'contact', $event)">
              {{client.contact}}
            </span>
          </td>
          <td>
            <span contenteditable="true" (keyup)="changeValue(id, 'status', $event)" (blur)="updateList(id, 'status', $event)">
              {{client.status}}
            </span>
          </td>
          <td>
            <span class="table-remove">
              <button type="button" mdbBtn color="danger" rounded="true" size="sm" class="my-0" (click)="remove(id)">Remove</button>
            </span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<!-- Editable table -->
</div>
