<div class="card-body row">
  <div class="col-lg-6">
    <div class="container border border-dark rounded" >
      <h4 class="card-title">
        Receta
      </h4>
      <ul class="list-group">
        <li class="list-group-item list-group-item-action flex-column align-items-start" >
          <a> 
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">
                {{drugs[0].name}}
              </h5> 
              <small class="text-muted">
                {{drugs[0].pharma}}
              </small>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="container border border-success rounded" >
      <h4 class="card-title">
        Pedido
      </h4>
      <ul class="list-group">
        <li class="list-group-item list-group-item-action flex-column align-items-start" >
          <a> 
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">
                {{drugs[1].name}}
              </h5> 
              <small class="text-muted">
                {{drugs[1].pharma}}
              </small>
            </div>
          </a>
        </li>
      </ul>
      <button class="btn-dark">
        Realizar pedido.
      </button>
    </div>
  </div>


