<div style="text-align: center">

  <!-- Editable table -->
<div class="card">
  <style>
    span {
      display: block;
    }
  </style>
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Doctores</h3>
  <div class="card-body">
    <div id="table" class="table-editable">

      <span class="table-add float-right mb-3 mr-2">
        <button type="button" mdbBtn color="danger" rounded="true" size="sm" class="my-0" (click)="add()">Añadir</button>
      </span>

      <table class="table table-dark table-hover table-bordered table-responsive-md table-striped text-center">
        <thead class="thead-light">
          <tr>
            <th class="text-center">Cedula</th>
            <th class="text-center">Numero doctor</th>
            <th class="text-center">Nombre</th>
            <th class="text-center">Apellidos</th>
            <th class="text-center">Direccion</th>
            <th class="text-center">Fecha de nacimiento</th>
            <th class="text-center"></th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let doctor of doctors; let id = index">
            <td>
              <span contenteditable="true" (keyup)="changeValue(id, 'idd', $event)" (blur)="updateList(id, 'idd', $event)">
                {{doctor.idd}}
              </span>
            </td>
            <td>
              <span contenteditable="true" (keyup)="changeValue(id, 'name', $event)" (blur)="updateList(id, 'name', $event)">
                {{doctor.docnum}}
              </span>
            </td>
            <td>
              <span contenteditable="true" (keyup)="changeValue(id, 'lastname', $event)" (blur)="updateList(id, 'lastname', $event)">
                {{doctor.name}}
              </span>
            </td>
            <td>
              <span contenteditable="true" (keyup)="changeValue(id, 'address', $event)" (blur)="updateList(id, 'address', $event)">
                {{doctor.lastname}}
              </span>
            </td>
            <td>
              <span contenteditable="true" (keyup)="changeValue(id, 'birthday', $event)" (blur)="updateList(id, 'birthday', $event)">
                {{doctor.address}}
              </span>
            </td>
            <td>
              <span contenteditable="true" (keyup)="changeValue(id, 'birthday', $event)" (blur)="updateList(id, 'birthday', $event)">
                {{doctor.birthday}}
              </span>
            </td>
            <td>
              <span>
                <button type="button" mdbBtn color="danger" rounded="true" size="sm" class="my-0" (click)="remove(id)">X</button>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- Editable table -->
</div>
