<div style="text-align:center">
  <h1 class="container">
      <p class="bg-danger text-white">Farmacia Phischel</p>
  </h1>
</div>
<div style="text-align: center">
  <h3>--Sucursal--</h3>
</div>
<div class="card mt-5" style="margin:auto;width: 600px;">
  <div class="card-body">
    <h5 class="card-title">Login</h5>
    <div class="form-group">
      <label for="email">User</label>
      <input type="text" class="form-control" id="email" placeholder="Usuario" #userInput>
    </div>
    <div class="form-group">
      <label for="email">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Contraseña" #passInput>
    </div>
    <button type="submit" class="btn btn-primary" (click)="login(userInput.value,passInput.value)">Login</button>
    <div>
      <p>{{message}}</p>
    </div>
  </div>
</div>  